.corpoava{
    display: flex;
    align-items: center;
}
.corpoava img{
    width: 14rem;
    height: 21rem;
}
.corpoava textarea{
    margin-left: 2rem;
    height: 15rem;
    width:  30rem;
}
.corpoava button{
    margin-top: 1rem;
    align-self: end;
}
.corpoava select{
    align-self: start;
    font-size: medium;
    margin-left: 2rem;
}
.avaliação{
    display: flex;
    flex-direction: column;
}