/* Arquivo: styles.css (ou qualquer nome de arquivo de estilos) */

/* Ajusta o tamanho do carrossel */
.caroselhorizontal {
    width: 75rem;
    height: 100%; /* Defina a largura desejada, por exemplo, 80% */
    margin: 20px; /* Centraliza o carrossel horizontalmente */
  }
  
  /* Opcional: Ajusta o tamanho das imagens nos slides */
