/* Arquivo: styles.css (ou qualquer nome de arquivo de estilos) */

/* Ajusta o tamanho do carrossel */
.caroselhorizontal {
    width: 71rem;
    height: 100%; /* Defina a largura desejada, por exemplo, 80% */
    margin-left: 1rem; /* Centraliza o carrossel horizontalmente */
  }
  
  /* Opcional: Ajusta o tamanho das imagens nos slides */
.caroselhorizontal .slick-slider{
  height: 35rem;

}
.caroselhorizontal .slick-list{
  height: 35rem !important;
}
.caroselhorizontal p{
  text-align: center;
  font-size:xx-large;
  background-color: dimgray;
  border-radius: 15px;
  margin-top: 1rem;
}