/* Arquivo: styles.css (ou qualquer nome de arquivo de estilos) */

/* Ajusta o tamanho do carrossel */
.caroselarq {
    width: 90rem;
    height: auto; /* Defina a largura desejada, por exemplo, 80% */
    margin: 20px; /* Centraliza o carrossel horizontalmente */
  }
  
  /* Opcional: Ajusta o tamanho das imagens nos slides */
  .caroselarq img {
    width: 11rem; /* Faz com que as imagens ocupem 100% da largura do slide */
    height: 17rem;
    margin: 2rem;
    max-width: auto;
    max-height: auto; /* Mantém a proporção original da imagem */
  }